@{
    ViewData["Title"] = "Home Page";
}

@model List<Country>

<form action="/Home/Details" method="post">
    <select name="CountryName">
        @foreach (Country c in Model)
        {
            <option value="@c.Name" name="CountryName">@c.Name</option>
        }
    </select><br />
    <input type="submit" value="Get Learnin'" />
</form>

